# <font color=red>Pandas簡介   
    
-----
● Pnadas是Python的協力廠商函式庫，提供資料框架等獨特資料以及各式各樣的資料處理功能，式解析資料時不可或缺的工具。
    
● Pandas也能跟NumPy一樣，高速的進行矩陣運算，在處理龐大資料時相當實用。
 
● 主要資料結構為 : Series 跟 DataFrame。

## <font color=red>匯入檔案 
    
-----

In [1]:
import pandas as pd

df = pd.read_csv('nba.csv')
df

              Name            Team  Number Position   Age     Salary
0    Avery Bradley  Boston Celtics     0.0       PG  25.0  7730337.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0  6796117.0
2     John Holland  Boston Celtics    30.0       SG  27.0        NaN
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0  1148640.0
4    Jonas Jerebko  Boston Celtics     8.0      NaN  29.0  5000000.0
..             ...             ...     ...      ...   ...        ...
452     Trey Lyles       Utah Jazz    41.0       PF  20.0  2239800.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0  2433333.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0   900000.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0  2900000.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0   947276.0

[457 rows x 6 columns]

## <font color=red>檢視資料
    
-----

In [2]:
#檢視是否有缺失值
df.isnull().sum()
#填入缺失值
#df = df.fillna(num)

Name         0
Team         3
Number       2
Position     2
Age          2
Salary      12
dtype: int64

In [3]:
#清除缺失值
df = df.dropna()

In [4]:
print('---資料維度---')
print(df.ndim)
print('---欄列個數---')
print(df.shape)
print('---資料類型---')
print(df.dtypes)
print('---頭5筆---')
print(df.head())
print('---尾5筆---')
print(df.tail())
print('---名稱,筆數,大小,資料型態等---')
print(df.info)

---資料維度---
2
---欄列個數---
(436, 6)
---資料類型---
Name         object
Team         object
Number      float64
Position     object
Age         float64
Salary      float64
dtype: object
---頭5筆---
            Name            Team  Number Position   Age      Salary
0  Avery Bradley  Boston Celtics     0.0       PG  25.0   7730337.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0   6796117.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0   1148640.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0  12000000.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0   1824360.0
---尾5筆---
             Name       Team  Number Position   Age     Salary
452    Trey Lyles  Utah Jazz    41.0       PF  20.0  2239800.0
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0  2433333.0
454     Raul Neto  Utah Jazz    25.0       PG  24.0   900000.0
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0  2900000.0
456   Jeff Withey  Utah Jazz    24.0        C  26.0   947276.0
---名稱,筆數,大小,資料型態等---
<bound method DataFrame.info of               Name            Team  Number Position   Age      Salary
0    Avery Bradley  Boston Celtics     0.0       PG  25.0   7730337.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0   6796117.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0   1148640.0
5     Amir Johnson  Boston Celtics    90.0       PF  29.0  12000000.0
8     Terry Rozier  Boston Celtics    12.0       PG  22.0   1824360.0
..             ...             ...     ...      ...   ...         ...
452     Trey Lyles       Utah Jazz    41.0       PF  20.0   2239800.0
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0   2433333.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    900000.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0   2900000.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    947276.0

[436 rows x 6 columns]>

## <font color=red>顯示資料--索引方式
    
-----

In [5]:
df['Name']#用欄名稱，顯示這一欄的index名稱、內容及資料型態

0      Avery Bradley
1        Jae Crowder
3        R.J. Hunter
5       Amir Johnson
8       Terry Rozier
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 436, dtype: object

In [6]:
df['Name'].values #用欄名稱，僅顯示內容

array(['Avery Bradley', 'Jae Crowder', 'R.J. Hunter', 'Amir Johnson',
       'Terry Rozier', 'Marcus Smart', 'Jared Sullinger', 'Evan Turner',
       'James Young', 'Bojan Bogdanovic', 'Markel Brown',
       'Rondae Hollis-Jefferson', 'Sergey Karasev', 'Shane Larkin',
       'Chris McCullough', 'Willie Reed', 'Thomas Robinson', 'Henry Sims',
       'Donald Sloan', 'Arron Afflalo', 'Lou Amundson',
       'Thanasis Antetokounmpo', 'Carmelo Anthony', 'Jose Calderon',
       'Cleanthony Early', 'Langston Galloway', 'Jerian Grant',
       'Robin Lopez', "Kyle O'Quinn", 'Kristaps Porzingis',
       'Kevin Seraphin', 'Lance Thomas', 'Sasha Vujacic',
       'Derrick Williams', 'Tony Wroten', 'Isaiah Canaan',
       'Robert Covington', 'Joel Embiid', 'Jerami Grant',
       'Richaun Holmes', 'Carl Landry', 'Kendall Marshall',
       'T.J. McConnell', 'Nerlens Noel', 'Jahlil Okafor', 'Ish Smith',
       'Nik Stauskas', 'Hollis Thompson', 'Christian Wood',
       'Bismack Biyombo', 'Bruno Caboclo', 'DeMarre Carroll',
       'DeMar DeRozan', 'James Johnson', 'Cory Joseph', 'Kyle Lowry',
       'Lucas Nogueira', 'Patrick Patterson', 'Norman Powell',
       'Terrence Ross', 'Luis Scola', 'Jason Thompson',
       'Jonas Valanciunas', 'Delon Wright', 'Leandro Barbosa',
       'Harrison Barnes', 'Andrew Bogut', 'Ian Clark', 'Stephen Curry',
       'Festus Ezeli', 'Draymond Green', 'Andre Iguodala',
       'Shaun Livingston', 'Kevon Looney', 'James Michael McAdoo',
       'Brandon Rush', 'Marreese Speights', 'Klay Thompson',
       'Anderson Varejao', 'Cole Aldrich', 'Jeff Ayres', 'Jamal Crawford',
       'Branden Dawson', 'Jeff Green', 'Blake Griffin', 'Wesley Johnson',
       'DeAndre Jordan', 'Luc Richard Mbah a Moute', 'Chris Paul',
       'Paul Pierce', 'Pablo Prigioni', 'JJ Redick', 'Austin Rivers',
       'C.J. Wilcox', 'Brandon Bass', 'Tarik Black', 'Anthony Brown',
       'Kobe Bryant', 'Jordan Clarkson', 'Roy Hibbert', 'Marcelo Huertas',
       'Ryan Kelly', 'Larry Nance Jr.', 'Julius Randle',
       "D'Angelo Russell", 'Robert Sacre', 'Louis Williams',
       'Metta World Peace', 'Nick Young', 'Eric Bledsoe', 'Devin Booker',
       'Chase Budinger', 'Tyson Chandler', 'Archie Goodwin',
       'John Jenkins', 'Brandon Knight', 'Alex Len', 'Jon Leuer',
       'Phil Pressey', 'Ronnie Price', 'Mirza Teletovic', 'P.J. Tucker',
       'T.J. Warren', 'Alan Williams', 'Quincy Acy', 'James Anderson',
       'Marco Belinelli', 'Caron Butler', 'Omri Casspi',
       'Willie Cauley-Stein', 'Darren Collison', 'DeMarcus Cousins',
       'Seth Curry', 'Duje Dukan', 'Rudy Gay', 'Kosta Koufos',
       'Ben McLemore', 'Eric Moreland', 'Rajon Rondo', 'Cameron Bairstow',
       'Aaron Brooks', 'Jimmy Butler', 'Mike Dunleavy',
       'Cristiano Felicio', 'Pau Gasol', 'Taj Gibson', 'Justin Holiday',
       'Doug McDermott', 'Nikola Mirotic', "E'Twaun Moore", 'Joakim Noah',
       'Bobby Portis', 'Derrick Rose', 'Tony Snell',
       'Matthew Dellavedova', 'Channing Frye', 'Kyrie Irving',
       'LeBron James', 'Richard Jefferson', 'James Jones', 'Sasha Kaun',
       'Kevin Love', 'Jordan McRae', 'Timofey Mozgov', 'Iman Shumpert',
       'J.R. Smith', 'Tristan Thompson', 'Mo Williams', 'Joel Anthony',
       'Aron Baynes', 'Steve Blake', 'Lorenzo Brown', 'Reggie Bullock',
       'Kentavious Caldwell-Pope', 'Spencer Dinwiddie', 'Andre Drummond',
       'Tobias Harris', 'Darrun Hilliard', 'Reggie Jackson',
       'Stanley Johnson', 'Jodie Meeks', 'Marcus Morris',
       'Anthony Tolliver', 'Lavoy Allen', 'Rakeem Christmas',
       'Monta Ellis', 'Paul George', 'George Hill', 'Jordan Hill',
       'Solomon Hill', 'Ty Lawson', 'Ian Mahinmi', 'C.J. Miles',
       'Glenn Robinson III', 'Rodney Stuckey', 'Myles Turner',
       'Shayne Whittington', 'Joe Young', 'Giannis Antetokounmpo',
       'Jerryd Bayless', 'Michael Carter-Williams', 'Jared Cunningham',
       'Tyler Ennis', 'John Henson', 'Damien Inglis', 'O.J. Mayo',
       'Khris Middleton', 'Greg Monroe', 'Steve Novak',
       "Johnny O'Bryant III", 'Jabari Parker', 'Miles Plumlee',
       'Greivis Vasquez', 'Rashad Vaughn', 'Justin Anderson',
       'J.J. Barea', 'Jeremy Evans', 'Raymond Felton', 'Devin Harris',
       'David Lee', 'Wesley Matthews', 'JaVale McGee', 'Salah Mejri',
       'Dirk Nowitzki', 'Zaza Pachulia', 'Chandler Parsons',
       'Dwight Powell', 'Charlie Villanueva', 'Deron Williams',
       'Trevor Ariza', 'Michael Beasley', 'Patrick Beverley',
       'Corey Brewer', 'Clint Capela', 'Sam Dekker', 'Andrew Goudelock',
       'James Harden', 'Montrezl Harrell', 'Dwight Howard',
       'Terrence Jones', 'K.J. McDaniels', 'Donatas Motiejunas',
       'Josh Smith', 'Jason Terry', 'Jordan Adams', 'Tony Allen',
       'Chris Andersen', 'Matt Barnes', 'Vince Carter', 'Mike Conley',
       'Bryce Cotton', 'Marc Gasol', 'JaMychal Green', 'P.J. Hairston',
       'Jarell Martin', 'Zach Randolph', 'Lance Stephenson',
       'Brandan Wright', 'Alexis Ajinca', 'Ryan Anderson', 'Omer Asik',
       'Luke Babbitt', 'Norris Cole', 'Dante Cunningham', 'Anthony Davis',
       'Bryce Dejean-Jones', 'Toney Douglas', 'James Ennis',
       'Tyreke Evans', 'Tim Frazier', 'Alonzo Gee', 'Eric Gordon',
       'Jordan Hamilton', 'Jrue Holiday', 'Orlando Johnson',
       'Kendrick Perkins', 'Quincy Pondexter', 'LaMarcus Aldridge',
       'Kyle Anderson', 'Matt Bonner', 'Boris Diaw', 'Tim Duncan',
       'Manu Ginobili', 'Danny Green', 'Kawhi Leonard',
       'Boban Marjanovic', 'Kevin Martin', 'Andre Miller', 'Patty Mills',
       'Tony Parker', 'Jonathon Simmons', 'David West', 'Kent Bazemore',
       'Tim Hardaway Jr.', 'Kirk Hinrich', 'Al Horford', 'Kris Humphries',
       'Kyle Korver', 'Paul Millsap', 'Mike Muscala', 'Lamar Patterson',
       'Dennis Schroder', 'Mike Scott', 'Thabo Sefolosha',
       'Tiago Splitter', 'Walter Tavares', 'Jeff Teague', 'Nicolas Batum',
       'Troy Daniels', 'Jorge Gutierrez', 'Tyler Hansbrough',
       'Aaron Harrison', 'Spencer Hawes', 'Al Jefferson',
       'Frank Kaminsky III', 'Michael Kidd-Gilchrist', 'Jeremy Lamb',
       'Courtney Lee', 'Jeremy Lin', 'Kemba Walker', 'Marvin Williams',
       'Cody Zeller', 'Chris Bosh', 'Luol Deng', 'Goran Dragic',
       'Gerald Green', 'Udonis Haslem', 'Joe Johnson', 'Tyler Johnson',
       'Josh McRoberts', 'Josh Richardson', "Amar'e Stoudemire",
       'Dwyane Wade', 'Hassan Whiteside', 'Justise Winslow',
       'Dewayne Dedmon', 'Evan Fournier', 'Aaron Gordon', 'Mario Hezonja',
       'Ersan Ilyasova', 'Brandon Jennings', 'Devyn Marble',
       'Shabazz Napier', 'Andrew Nicholson', 'Victor Oladipo',
       'Elfrid Payton', 'Jason Smith', 'Nikola Vucevic', 'C.J. Watson',
       'Alan Anderson', 'Bradley Beal', 'Jared Dudley', 'Jarell Eddie',
       'Drew Gooden', 'Marcin Gortat', 'JJ Hickson', 'Nene Hilario',
       'Markieff Morris', 'Kelly Oubre Jr.', 'Otto Porter Jr.',
       'Ramon Sessions', 'Garrett Temple', 'Marcus Thornton', 'John Wall',
       'Darrell Arthur', 'D.J. Augustin', 'Will Barton',
       'Wilson Chandler', 'Kenneth Faried', 'Danilo Gallinari',
       'Gary Harris', 'Nikola Jokic', 'Joffrey Lauvergne', 'Mike Miller',
       'Emmanuel Mudiay', 'Jameer Nelson', 'Jusuf Nurkic',
       'JaKarr Sampson', 'Nemanja Bjelica', 'Gorgui Dieng',
       'Kevin Garnett', 'Tyus Jones', 'Zach LaVine', 'Shabazz Muhammad',
       'Adreian Payne', 'Nikola Pekovic', 'Tayshaun Prince',
       'Ricky Rubio', 'Damjan Rudez', 'Karl-Anthony Towns',
       'Andrew Wiggins', 'Steven Adams', 'Nick Collison', 'Kevin Durant',
       'Randy Foye', 'Josh Huestis', 'Serge Ibaka', 'Enes Kanter',
       'Mitch McGary', 'Nazr Mohammed', 'Anthony Morrow', 'Cameron Payne',
       'Andre Roberson', 'Kyle Singler', 'Dion Waiters',
       'Russell Westbrook', 'Cliff Alexander', 'Al-Farouq Aminu',
       'Pat Connaughton', 'Allen Crabbe', 'Ed Davis', 'Maurice Harkless',
       'Gerald Henderson', 'Chris Kaman', 'Meyers Leonard',
       'Damian Lillard', 'C.J. McCollum', 'Luis Montero', 'Mason Plumlee',
       'Brian Roberts', 'Noah Vonleh', 'Trevor Booker', 'Trey Burke',
       'Alec Burks', 'Dante Exum', 'Derrick Favors', 'Rudy Gobert',
       'Gordon Hayward', 'Rodney Hood', 'Joe Ingles', 'Chris Johnson',
       'Trey Lyles', 'Shelvin Mack', 'Raul Neto', 'Tibor Pleiss',
       'Jeff Withey'], dtype=object)

In [7]:
df['Name'][1] #用欄名稱，先欄再列，僅顯示內容，index為1

'Jae Crowder'

In [8]:
df['Name'][0:6] #index為0~5 包頭不包尾

0    Avery Bradley
1      Jae Crowder
3      R.J. Hunter
5     Amir Johnson
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [9]:
df[['Name','Team']].head() #兩層[[ ]]

            Name            Team
0  Avery Bradley  Boston Celtics
1    Jae Crowder  Boston Celtics
3    R.J. Hunter  Boston Celtics
5   Amir Johnson  Boston Celtics
8   Terry Rozier  Boston Celtics

## <font color=red>顯示排序
    
-----

In [10]:
print(df.sort_values('Age'))

                   Name                    Team  Number Position   Age  \
226       Rashad Vaughn         Milwaukee Bucks    20.0       SG  19.0
122        Devin Booker            Phoenix Suns     1.0       SG  19.0
352     Justise Winslow              Miami Heat    20.0       SF  20.0
441         Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0
40   Kristaps Porzingis         New York Knicks     6.0       PF  20.0
..                  ...                     ...     ...      ...   ...
261        Vince Carter       Memphis Grizzlies    15.0       SG  39.0
102      Pablo Prigioni    Los Angeles Clippers     9.0       PG  39.0
298          Tim Duncan       San Antonio Spurs    21.0        C  40.0
304        Andre Miller       San Antonio Spurs    24.0       PG  40.0
400       Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0

        Salary
226  1733040.0
122  2127840.0
352  2481720.0
441  2637720.0
40   4131720.0
..         ...
261  4088019.0
102   947726.0
298  5250000.0
304   250750.0
400  8500000.0

[436 rows x 6 columns]

In [11]:
df.sort_values('Name',ascending=False) #大到小

,Name,Team,Number,Position,Age,Salary
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,5200000.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,9638555.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,2148360.0
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,10449438.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,947276.0
...,...,...,...,...,...,...
312,Al Horford,Atlanta Hawks,15.0,C,30.0,12000000.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,1938840.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,525093.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,4171680.0
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,2250000.0

## <font color=red>   資料篩選
    
-----

&與 &~不與

篩選數量不限，想放幾個都可以

In [12]:
df[(df['Age']>=25) & (df['Position']=='PF') &~ (df['Number']>=20)]

,Name,Team,Number,Position,Age,Salary
31,Lou Amundson,New York Knicks,17.0,PF,33.0,1635476.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,3750000.0
52,Carl Landry,Philadelphia 76ers,7.0,PF,32.0,6500000.0
65,James Johnson,Toronto Raptors,3.0,PF,29.0,2500000.0
72,Luis Scola,Toronto Raptors,4.0,PF,36.0,2900000.0
73,Jason Thompson,Toronto Raptors,1.0,PF,29.0,245177.0
90,Anderson Varejao,Golden State Warriors,18.0,PF,33.0,289755.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,111444.0
99,Luc Richard Mbah a Moute,Los Angeles Clippers,12.0,PF,29.0,947276.0
106,Brandon Bass,Los Angeles Lakers,2.0,PF,31.0,3000000.0
113,Ryan Kelly,Los Angeles Lakers,4.0,PF,25.0,1724250.0
167,Channing Frye,Cleveland Cavaliers,9.0,PF,33.0,8193029.0
174,Kevin Love,Cleveland Cavaliers,0.0,PF,27.0,19689000.0
194,Marcus Morris,Detroit Pistons,13.0,PF,26.0,5000000.0
196,Lavoy Allen,Indiana Pacers,5.0,PF,27.0,4050000.0
240,Charlie Villanueva,Dallas Mavericks,3.0,PF,31.0,947276.0
259,Chris Andersen,Memphis Grizzlies,7.0,PF,37.0,5000000.0
266,JaMychal Green,Memphis Grizzlies,0.0,PF,25.0,845059.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,19689000.0
315,Paul Millsap,Atlanta Hawks,4.0,PF,31.0,18671659.0
329,Spencer Hawes,Charlotte Hornets,0.0,PF,28.0,6110034.0
337,Marvin Williams,Charlotte Hornets,2.0,PF,29.0,7000000.0
339,Chris Bosh,Miami Heat,1.0,PF,32.0,22192730.0
346,Josh McRoberts,Miami Heat,4.0,PF,29.0,5543725.0
348,Amar'e Stoudemire,Miami Heat,5.0,PF,33.0,947276.0
358,Ersan Ilyasova,Orlando Magic,7.0,PF,29.0,7900000.0
365,Jason Smith,Orlando Magic,14.0,PF,30.0,4300000.0
376,Markieff Morris,Washington Wizards,5.0,PF,26.0,8000000.0
383,Darrell Arthur,Denver Nuggets,0.0,PF,28.0,2814000.0
413,Nick Collison,Oklahoma City Thunder,4.0,PF,35.0,3750000.0
417,Serge Ibaka,Oklahoma City Thunder,9.0,PF,26.0,12250000.0

In [15]:
df.loc[417,'Team'] #先選row 再選col

'Oklahoma City Thunder'

In [18]:
df.loc[217:300,'Name'] #取217~300的'Name'資料

217      Damien Inglis
218          O.J. Mayo
219    Khris Middleton
220        Greg Monroe
221        Steve Novak
            ...
296        Matt Bonner
297         Boris Diaw
298         Tim Duncan
299      Manu Ginobili
300        Danny Green
Name: Name, Length: 80, dtype: object

In [20]:
df.loc[:,'Name':'Number'] #選取Name~Number所有資料

              Name            Team  Number
0    Avery Bradley  Boston Celtics     0.0
1      Jae Crowder  Boston Celtics    99.0
3      R.J. Hunter  Boston Celtics    28.0
5     Amir Johnson  Boston Celtics    90.0
8     Terry Rozier  Boston Celtics    12.0
..             ...             ...     ...
452     Trey Lyles       Utah Jazz    41.0
453   Shelvin Mack       Utah Jazz     8.0
454      Raul Neto       Utah Jazz    25.0
455   Tibor Pleiss       Utah Jazz    21.0
456    Jeff Withey       Utah Jazz    24.0

[436 rows x 3 columns]